@import './variables';

.mySlides {display: none}
img {vertical-align: middle;}

.slider-caption {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 340px;
  text-align: center;
  z-index: 3;

  &__title {
    font-size: 34px;
    letter-spacing: 7px;
    line-height: 1.4;
    margin-bottom: 50px;
    font-weight: 100;
  }

  &__button {
    background-color: $bg-button-green;

    &:hover {
      background-color: $bg-button-green-hover;
    }
  }
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slider-controls {
  position: absolute;
  width: 900px;
  top: calc(50% - 28px);
  left: calc(50% - 450px);

  .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: 0 6px;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slider-dots {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: calc(50% - 55px);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2c3e50;
  opacity: 0.7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  opacity: 1;
  background-color: #000000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
