@import './variables';
@import 'slider.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: $text-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  background-color: $bg-dark-blue;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px;
    background-color: #ffffff;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #27ae60;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__nav-link {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
  }

  &__button {
    background-color: $bg-button-green;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background-color: $bg-button-green-hover;
    }
  }
}

.slider {
  width: 100%;
}

.main {
  &__description {
    display: flex;
    padding: 44px 10px 80px 10px;
  }

  &__article {
    flex: 1 1 50%;
  }

  &__title {
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: $bg-dark-blue;
  }

  &__text {
    font-weight: 100;
    line-height: 1.4;
    padding-right: 100px;
  }
}

.main-photo {
  position: relative;
  &__title {
    position: absolute;
    top: -40px;
    font-size: 11px;
    line-height: 60px;
  }
}

.main__form {
  background-color: #f3f2f2;
  width: 100%;
}

.form-wrapper {
  background-image: url(../img/form-background.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 520px;
  padding-top: 80px;
}

.form {
  background-color: #fff;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__input-wrapper {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 25px;
    letter-spacing: 3px;
    margin: 28px auto;
    font-weight: 100;
  }

  &__input, &__select {
    min-width: 300px;
    font-size: 16px;
    padding: 16px 21px 19px;
    border: 1px solid transparent;
    border-top: 1px solid $border-input-color;
    background-color: $bg-input-color;
    border-radius: 3px;
  }

  &__button {
    background-color: $bg-button-green;
    margin: 20px auto 32px;

    &:hover {
      background-color: $bg-button-green-hover;
    }
  }
}

.footer {
  background-color: $bg-dark-blue;

  &__content {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
  }
}
